.App {
  text-align: center;
}

.m-4 {
  background-color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid thin white;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-bar{
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
