main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

p {
  line-height: 2rem;
}

.m-4 {
  background-color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: solid thin white;
  border-radius: 10px;
}